html {
    --scrollbarBG: rgba(0, 0, 0, 0);
    --thumbBG: rgba(100, 100, 100, 1);
}

div.container {
    background-color: rgb(163, 163, 214);
    height: 100%;
    width: 100%;
    max-width: 720px;

    margin: auto;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 30px 30px;
    row-gap: 1rem;
}

ul.messages {
    margin: 0;
    padding: 0;
    padding-right: 5px;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
}

ul.messages::-webkit-scrollbar {
    width: 6px;
}

ul.messages {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

ul.messages::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

ul.messages::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

ul.messages > li.message {
    width: fit-content;
    max-width: 100%;
    overflow-wrap: break-word;
}

div.message-name {
    font-size: small;
    padding-left: 0.3em;
}

div.message-text {
    background-color: rgb(94, 94, 155);
    border-radius: 0.4em;
    color: rgb(255, 255, 255);
    padding: 0.2em 0.6em 0.2em 0.6em;
}

li.message.self {
    margin-left: auto;
}

li.message.self > div.message-text {
    background-color: rgb(35, 35, 119) !important;
    color: white !important;
}

ul.messages > li.message:not(:first-child) {
    margin-top: 0.5rem;
}

div.form-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
}

#dice-modal > #dice-menu-icon {
    background-color: purple;
    width: 30px;
    height: 30px;
    position: relative;
}

#dice-modal > #dice-container {
    display: none;
}

#dice-modal.active > #dice-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    row-gap: 0.5rem;
    width: fit-content;

    position: absolute;
    bottom: calc(2*30px + 2*1rem);

    background-color: green;
    padding: 0.5rem;
}

#dice-container > button {
    width: 50px;
}